<div class="form-row container">
  <div class="form-group col-lg-6">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "form-control form-control-sm", :placeholder => "俺飯で使用する名前を入力してください。" %>
  </div>

  <% if !controller.controller_name == 'accounts' && !controller.action_name == 'edit' %>
    <div class="form-group col-lg-6">
      <%= f.label :login_id  %>
      <%= f.text_field :login_id, :class => "form-control form-control-sm", :placeholder => "半角英数字3文字以上20字以内。ログイン時に使います。メモしておいてください。" %>
    </div>
  <% end %>

  <% if controller.controller_name == 'users' && controller.action_name == 'new' || controller.action_name == 'create' %>
    <div class="form-group col-lg-12">
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, :class  => "form-control form-control-sm", :placeholder => "半角英数字3文字以上20字以内。" %>
    </div>
    <div class="form-group col-lg-12">
      <%= f.label :password_confirmation, "確認用パスワード" %>
      <%= f.password_field :password_confirmation, :class  => "form-control form-control-sm", :placeholder => "確認用の入力欄です。もう一度同じ文字列を入力してください。" %>
    </div>
  <% end %>

  <div class="form-group col-lg-6">
    <%= f.label :gender %><br>
    <div class="form-check form-check-inline">
      <%= f.radio_button :gender, "1", :class => "form-check-input" %>
      <%= f.label :gender, "男性", :value => "1", :class => "form-check-label" %>
    </div>
    <div class="form-check form-check-inline">
      <%= f.radio_button :gender, "2", :class => "form-check-input"%>
      <%= f.label :gender, "女性", :value => "2", :class => "form-check-label" %>
    </div>
    <div class="form-check form-check-inline">
      <%= f.radio_button :gender, "3", :class => "form-check-input" %>
      <%= f.label :gender, "秘密にしておく", :value => "3", :class => "form-check-label" %>
    </div>
  </div>

  <div class="form-row col-lg-6">
    <div class="form-group">
      <%= f.label :birthday %><br>
      <%= f.date_select  :birthday,
                            :start_year => 1900,
                            :end_year => (Time.now.year)
       %>
    </div>
  </div>

  <div class="form-group col-6">
    <%= f.label :prefecture %><br>
    <%= f.collection_select :prefecture, JpPrefecture::Prefecture.all, :name, :name %>
  </div>

  <div class="form-group col-12">
    <%= f.label :introduce  %>
    <%= f.text_area :introduce, rows: 7, :class => "form-control form-control-sm", :placeholder => "好きな食べ物とか？自由に書いてください" %>
  </div>

  <div class="form-group col-lg-6">
    <%= f.label :taste  %><br>
    <div class="form-check form-check-inline">
      <%= f.radio_button :taste, 1, :class => "form-check-input" %>
      <%= f.label :taste, "甘党",  :class => "form-check-label" %>
    </div>
    <div class="form-check form-check-inline">
      <%= f.radio_button :taste, 2, :class => "form-check-input"%>
      <%= f.label :taste, "辛党",  :class => "form-check-label" %>
    </div>
  </div>

  <div class="form-group col-12">
    <%= f.label :avatar, "プロフィール画像" %><br>
    <%= f.file_field :avatar %>
  </div>

  <div class="form-group col-12">
  </div>
  <% if current_user&.admin == true %>
      <div class="form-group col-12">
        <%= f.label :admin %><br>
        <div class="form-check form-check-inline">
          <%= f.check_box :admin, :value => true, :class => "form-check-input" %>
          <%= f.label :admin, "管理者", :class => "form-check-label" %>  
        </div>
      </div>
  <% else %>
      <%= f.hidden_field :admin, :value => false %>
  <% end %>

  <div class="ml-4">
    <%= f.submit "登録", class: "btn btn-primary" %>
  </div>
</div>