<div class="form-row text-left post-form-wrap">
  <div class="form-group col-lg-6">
    <%= form.label :title, "タイトル" %>
    <%= form.text_field :title, :class => "form-control form-control-sm", :placeholder => "タイトルを入力してください。" %>
  </div>
  <div class="form-group col-lg-6">
    <%= form.label :price, "金額" %>
    <%= form.text_field :price, :class => "form-control form-control-sm", :placeholder => "金額を入力してください。おおよそでいいです。" %>
  </div>
  <div class="form-group col-lg-12">
    <%= form.label :review, "満足度" %><br>
    <%= form.select :review, create_review_array %>
  </div>
  <div class="form-group col-12">
    <%= form.label :body, "感想" %>
    <%= form.text_area :body, :class => "form-control form-control-sm", :style => "height: 150px;", :placeholder => "ご自由にご記入ください。" %>
  </div>
  
  <div class="form-group col-12">
  </div>
  <div class="ml-4">
    <%= form.submit "投稿する", :class => "btn btn-primary" %>
  </div>
</div>