<%= form_with url: session_path, id: "login-form" do  |f| %>

  <% if flash[:alert] %>
    <p class='text-danger'><%= flash[:alert] %></p>
  <% end %>   

  <div class="mt-4">
    <%= f.label :login_id, 'ログインID：', class: "login-form-label" %>
    <%= f.text_field :login_id, class: "login-form-text" %>
  </div>
  <div class="mt-2">
    <%= f.label :password, 'パスワード：', class: "login-form-label" %>
    <%= f.password_field :password,  class: "login-form-text" %>
  </div>
  <div class="login-btn-wrap">
    <%= f.submit "ログイン",  class: "login-button mb-3"%>
  </div>

<% end %>


<div class="link-to-users-new mb-5">
  <%= link_to "新規ユーザ登録", "/users/new" %>
</div>