<div class="row no-gutters">
 <% obj.each do |post| %>
      <div class="mb-4 post-wrapper col-sm-6 bg-white">
          <div class="user-image clearfix">
            <div class="posts-index-user-image float-left" 
                 style="background-image: url(<%= avatar(post.author) %>);"></div>
            <h6 class="user_name float-left pt-3"><%= link_to post.author.name, "/users/#{post.author.id}" %></h6>
          </div>
          <div class="post_image" 
               style="background-image: url(<%= index_image(post.images) %>);"></div>
        <div class="container bg-white pb-3">
          <h3 class="font-weight-bold pt-2 post_title"><%= truncate(post.title, length: 50) %></h3>
          <div class="text-right">
            <p class="post_status">
              <span class="review">満足度: <%= create_review_star(post).html_safe %></span><br>
              <span class="index-comment-icon"><i class="fas fa-comment"></i> <%= post.comments.length %></span>
              <span class="index-like-icon"><i class="fas fa-heart"></i> <%= post.liked_users.count %></span>
            </p>
            <p class="link-to-show"><%= link_to "詳細ページへ", "/posts/#{post.id}" %></p>
            <p class="post_time">投稿日: <%= post.updated_at.strftime("%Y-%m-%d") %></p>
          </div>
        </div>
      </div>
    <% end %>
</div>
<div class="pagination">
  <%= paginate obj %>
</div>  