<div class="user_image_bg text-center" style="background-image: url(<%= avatar(current_user) %>);"></div>
  <h4 class="mt-2 mb-3 font-weight-bold text-center side_menu_user"><%= current_user.name %></h4>
  <ul class="text-left pl-0" style="list-style: none;">
    <li class="side-menu"><%= link_to "俺飯を投稿する", :new_post %></li>
    <li class="side-menu"><%= link_to "マイページ", :account %></a></li>
    <li class="side-menu"><%= link_to "ユーザ情報を編集する", :edit_account %></li>
    <li class="side-menu"><%= link_to "ログアウトする", :session, method: :delete %></li>
  </ul>